[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A Maven project that just has some test failures (and skips) at random, to demonstrate result reporting.
[access "refs/*"]
	owner = group user/sourabh2182
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sourabh2182
	label-Verified = -1..+1 group user/sourabh2182
	push = group user/sourabh2182
	read = group user/sourabh2182
	rebase = group user/sourabh2182
	removeReviewer = group user/sourabh2182
	submit = group user/sourabh2182
[access "refs/heads/*"]
	create = group user/sourabh2182
	push = +force group user/sourabh2182
	pushMerge = group user/sourabh2182
	read = group user/sourabh2182
[access "refs/tags/*"]
	push = group user/sourabh2182
	push = +force group user/sourabh2182
